<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Blog-in</title>
</head>
<body>
    <div class="loginform">
        <form method="post">
            <h1>Welcome Back</h1>
            <h2>Username <span>{{username_error}}</span></h2>
            <input class="loginbar" type="text" name="username" value="">
            <h2>Password<span>{{password_error}}</span></h2>
            <input class="loginbar" type="password" name="password" value="">
            <input id="loginsubmit" type="submit" value="Login">
            <a href="\signup">Don't Have an Account?</a>
        </form>
            <a id="loginback" href="\">← Back to Blog-in</a>
    </div>
</body>
</html>