<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Blog-in</title>
</head>
<body>
    <div id="menu">
        {% if user == "" %}
            <a class="menuLinks" href="/login">Sign In</a>
        {% else %}
            <a  class="menuLinks" id="usericon" href="/profile">
                <img src="http://bucketlist.co.ke/assets/images/icons/user-icon.png" height="30px">
            </a>
            <a  class="menuLinks" class="menuLinks" href="/logout">Log Out</a>
        {% endif %}
        <a class="menuLinks" href="/post">New Post</a>
        <a id="logo" href="/"><h1>Blog-<span>in</span></h1></a>
    </div>
    <div id="profilePicture">
        <img src="http://cdn.wfp.org/zerohunger/profile-picture-tool/images/placeholder.svg" height="30px">
    </div>
    <h2 id="welcome">Hello, {{user}}</h2>
    {% for post in posts %}
    <div class="profilepost">
        <form class="profiledelete" method="post">
            <input type="submit" name="edit_item" value="." class="profileeditButton"/>
            <input type="submit" name="delete_item" value="." class="profiledeleteButton"/>
            <input type="hidden" name="delete" value="{{post.id}}">
        </form>
        <a href="/posted?q={{post.id}}"><h1>{{post.title}}</h1></a>
        <p>{{post.content}}</p>
    </div>
    {% endfor %}
    <a id="addNewBlog" href="/post">New Blog Post</a>

</body>
</html>