{% extends "base.html" %}

{% block content %}
    <div class="singlepost">
        <h1>{{post.title}}</h1>
            <p>{{post.content}}</p>
    </div>
    
    <div id="addcomment">
        <h1>Add Comment</h1>
        <form method="post">
            <textarea name="commentContent"></textarea>
            <input type="submit" name="comment" value="submit">
        </form>
    </div>
    <div id="comments">
        <h1>Comments</h1>
        <hr>
        {% for comment in comments %}
        <div class="comment">
            <img src="http://cdn.wfp.org/zerohunger/profile-picture-tool/images/placeholder.svg">
            <h2>{{comment.username}}</h2>
            <p>{{comment.content}}</p>
             {% if comment.username == user %}
                <form method="post">
                    <input type="hidden" value="{{comment.id}}" name="id">
                    <input type="submit" name="delete" value="delete">
                </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}